body{
    background-color: #2D3A3A;
    color: #FCFFFC;
    font-family: Verdana;
    margin-left: 20%;
    margin-right: 20%;
}

h2, h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

.parties-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.party-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character{
    background-color: #248232;
    border: 5px solid #040F0F;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 150px;
}

/*.enemy{
    background-color: #BA1A14;
}*/

.character-dead{
    display: none;
}

.character-turn{
    background-color: #248232;
    border: 5px solid #FCFFFC;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 150px;
}

.character-next-turn{
    background-color: #248232;
    border: 5px solid orange;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 150px;
}

.character-name{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.character-stats{
    margin: auto;
}

.character-stats p{
    margin: auto;
    margin-bottom: 3px;
}

.attack-button{
    border: none;
    margin-top: 5px;
    margin-bottom: 1px;
    background-color: #040F0F;
    color: #FCFFFC;
    padding: 5px;
}

form{
    margin: 0;
}